html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 50vh;
	  background: #000; 
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0.5); /*da igual la transparencia porque o pueden coincidir, las particulas tienen mas z-index*/
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: center;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
	  font-weight: 600;
}

nav.black ul {
      background: #fff;
	  box-shadow:0 0 2px 0 rgba(0,0,0,0.5);
	  line-height: 20px;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

nav.black ul li a {
      color: #000;
}
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 770px) {
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #3E4139;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }
}

footer{
	background:#3E4139;
	color:#93988C;
	height:2.8em;
	bottom:0em;
	z-index: 15;
	position:relative;
}

footer p{
	margin:0em;
	padding:1.4em 8em 0 8em;
	font-size:.6em;
}
footer img{
	position:absolute;
	right:1em;
	height:12em;	
	bottom:3em;	
	z-index:20;
}

.header span {/*ADRIAN TURIEL CHARRO*/		
	display:block;
	font-size:1.5em;
	cursor: -webkit-grab;
	line-height: 1.5;
	color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
	font-size: 2em;	
}


.header h4 {/*BIENVENIDO*/
	color:#CB0017;
	font-family: Roboto, sans-serif;
	font-size: 1em;
	display:block;		 
	font-weight: 500;
	letter-spacing: 1px;
}

.header_top{
	text-align:center;	
	padding-top:25vh;
}

#particles-js{
	/* es un id, no una clase */
	position:relative;
	background:#000;
	z-index:1;
}

.particles-js-canvas-el{	
	position:relative;
	top:-22.8em;
	z-index: -2;
}

#atuch img{
	z-index: -1;
	background:none;
	position: absolute;
	margin-top:33vh;
	margin-left: 3em;
	width:80em;
}
@media(max-width: 770px) {
	#atuch img{
		margin-top:12vh;
		margin-left: 0;
		left:0;
		right:0;
		margin-inline:auto;
	}
}
/*HASTA AQUI HEADER Y FOOTER*/

/*ESTILOS DEL MENU*/
.header_menu{
	font-family: Montserrat,sans-serif;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;	
}
	
.header_menu ul li a:hover { /*PARA CUANDO PASAS EL RATON POR ENCIMA*/
	text-decoration:none;
	color:#C05139;
	z-index: 3;
}

/*CONTENEDORES*/
.container-fluid{
	background: url(../imagen/100.jpg);
	/*background-repeat:no-repeat;/*se repite un poquillo el fondo*/
	width: 1vw;		
	height:auto;
	text-align:center;
	color:#fff;
	font-size:1.2em;
	margin:0em;
}

.bottom .frase{	
	font-family: "Arial Nova Light" ,Arial, Helvetica, Sans-serif;
	padding-top:2em;
}

.bottom .deco{
	font-family: Calibri,Arial ,Courier, Helvetica , Garamon, Optima, Times New Roman,Sans-serif;	
	color:#696D63;  /*la rayita gris*/
}
.social-icons{
	width:100%;
	margin:0;	
	display:inline-block;
	padding:0em;
}
.social-icons ul{
	height:4em;
	padding:0em;
}
.social-icons ul li{
	display:inline-block;
	width:2em;
	height:auto;
	margin:0 1em;	
}
.follow{
	color:#899F47;
	margin: .8em;
}
/*CONTENEDOR DE SECCIONES*/
.topic-tittle{
	padding-top: .8em;
	padding-bottom: .8em;
}

.topic-tittle span {		
	display:block;
	font-size:1.5em;
	cursor: -webkit-grab;
	line-height: 1.5;
	color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
	font-size: 1.5em;	
}

.topic-tittle h4 {
	color:#A8A8A8;
	font-family: Roboto, sans-serif;
	font-size: 1em;
	display:block;		 
	font-weight: 500;
	letter-spacing: 1px;
}

/*CONTENEDOR DE SECCIONES ALTERNATIVO*/
.topic-tittleS{
	text-align:center;
	padding-top: .8em;
	padding-bottom: .8em;
}

.topic-tittleS span {		
	display:block;
	font-size:1.5em;
	line-height: 1.5;
	color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
	font-size: 1.5em;	
}

.topic-tittleS h4 {
	color:#A8A8A8;
	font-family: Roboto, sans-serif;
	font-size: 1em;
	display:block;		 
	font-weight: 500;
	letter-spacing: 1px;
}