.programming {			
	text-align:center;
	width:100%;
}
.img { 
	height:auto;
	width:25em;
	margin:.6em 0em .6em 0em;
	padding-left:0px;
	padding-right:0px;
}
.img img{
	max-height:100%;
	width:100px;
}

/* IMG */

.overlay h3{
	color:#fff;
	text-transform:uppercase;
	font:700 16px/18px Montserrat,sans-serif;
	position:absolute;
	height:100%;
	width:100%;
}
.overlay h1{
	color:#C0C0C0;
	font:100 16px/18px Montserrat,sans-serif;
	position:absolute;
	height:100%;
	width:100%;
	margin-top:38px;
	font-size:.7em;
	white-space: nowrap; /* Evita el salto de línea */
	overflow: hidden; /* Oculta el exceso de texto */
	text-overflow: ellipsis; /* Agrega puntos suspensivos para texto truncado */
}

.overlay{
	margin:0 auto;
	position:absolute;
	z-index:3;
	background:rgba(0,0,0,.85);
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	opacity: 0;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
	white-space: nowrap; /* Evita el salto de línea */
	overflow: hidden; /* Oculta el exceso de texto */
	text-overflow: ellipsis; /* Agrega puntos suspensivos para texto truncado */
}

